<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="Gemini335L_plate" params="parent_link">
    <link name="${parent_link}_Gemini335L"/>

    <joint name="${parent_link}_Gemini335L_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${parent_link}_Gemini335L"/>
    </joint>
  </xacro:macro>

</robot>
